/ops

.c_*
.c_*/
c_*/

.e_*
.e_*/
e_*/
.m_*
.m_*/
m_*/

.s_*
.s_*/
s_*/

q_*/

w_*/
v_*/
h_*/

*_history

vm.vdi
vm.img
vm*.img
WARNING
*.log
devtask*
devtask/
USAGE.*.html
_buried

_local/*
!_local/ubcp

_index

**/_wbottle/.update-timestamp
**/_wbottle/dosdevices
**/_wbottle/drive_c/users

package_ubcp.tar.gz

\#*\#
*~
*.bak
*swp
*.kate-swp

nohup.out

*.log
*.ldb

**/*cache*
**/*Cache*
**/*LOG*
**/*Log*
**/*log*

**/.pki
**/.nv

**/.Xauthority
**/.bash_history
**/.bashrc
**/.gitconfig
**/.ssh
**/.ubcore
**/Desktop
**/Documents
**/Downloads
**/Music
**/Pictures
**/Public
**/Templates
**/Videos
**/bin
**/core
**/project
**/projects
**/realHome

**/.java
**/.oracle_jre*

_local/h/.arduino15/staging/

_local/h
_local/templates

**/node_modules/pty.js/build/Makefile
**/node_modules/pty.js/build/config.gypi
**/node_modules/pty.js/build/pty.target.mk

**/.atom/.apm

**/.config/Atom/QuotaManager
**/.config/Atom/QuotaManager-journal
**/.config/Atom/QuotaManager*
**/.config/Atom/Local Storage/
**/.config/Atom/databases
**/.config/Atom/Cookies
**/.config/Atom/Cookies-journal
**/.config/Atom/Cookies*
**/.config/Atom/IndexedDB/



# Unusual. Require forced addition of builds and binaries, due to expected non-portability .
# Unusual. Alternative approach op performing builds in temporary directories not used.

_lib/fungw**
_lib/genht**
_lib/pcb-rnd**

_lib/fungw**/*.o
_lib/fungw**/*.a
_lib/fungw**/*.so
_lib/fungw**/*.so*

_lib/genht**/*.o
_lib/genht**/*.a
_lib/genht**/*.so
_lib/genht**/*.so*

_lib/pcb-rnd**/*.o
_lib/pcb-rnd**/*.a
_lib/pcb-rnd**/*.so
_lib/pcb-rnd**/*.so*

